---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		publishDate: string;
		heroImage?: {
			src: string;
			alt: string;
		};
	};
}

const {
	content: { title, description, publishDate, heroImage },
} = Astro.props as Props;



---

<html>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<article class="wrapper content blog">
			<header class="blog">
				{heroImage && (
					<img
						width={1050}
						height={450}
						loading="lazy"
						class="blog-image"
						src={heroImage.src}
						alt={heroImage.alt}
						
					/>
				)}
				<h1 class="title blog">{title}</h1>
				<time class="blog">{publishDate}</time>
			</header>
			<main>
				<slot></slot>
			</main>
		</article>
	</body>
</html>

